body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
    text-align: center;
    margin: 0;
}

.dashboard-container {
    width: 80%;
    margin: auto;
    padding-top: 50px;
}

.actions {
    margin: 20px 0;
}

button {
    background: #4f46e5;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
}

button:hover {
    background: #6366f1;
}

.story-card {
    background: #1e293b;
    padding: 15px;
    margin: 15px auto;
    border-radius: 10px;
    width: 70%;
}

nav {
    background: #111827;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.container {
    width: 80%;
    margin: auto;
    padding-top: 30px;
}

.story-card {

    background: #1e293b;

    padding: 15px;

    margin-bottom: 20px;

    border-radius: 10px;
}