<!DOCTYPE html>
<html>
<head>
    <title>Edit Story</title>

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}"
    >
</head>

<body>

    <h1>Edit Story</h1>

    <form method="POST">

        <input
            type="text"
            name="title"
            value="{{ story.title }}"
            required
        >

        <br><br>

        <textarea
            name="content"
            rows="15"
            cols="50"
            required
        >{{ story.content }}</textarea>

        <br><br>

        <button type="submit">
            Save Changes
        </button>

    </form>

</body>
</html>